/*--- FONT FAMILY ---*/
@font-face {
    font-family : "CranberryBlues";
    src : url("../assets/fonts/cranberry_blues/CranberryBlues.ttf"); /*ttf=TrueType*/
}
@font-face { /*Effet Peinture*/
    font-family : "LionKing";
    src : url("../assets/fonts/lion_king/lion_king.ttf"); 
}
@font-face { 
    font-family : "Breadcrumbs";
    src : url("../assets/fonts/breadcrumbs/Breadcrumbs.otf"); /*otf=OpenType*/
}
@font-face { 
    font-family : "Bretageds";
    src : url("../assets/fonts/bretageds/Bretageds.otf");
}
@font-face { 
    font-family : "Hallington";
    src : url("../assets/fonts/hallington/Hallington.ttf");
}

/* ----- */

html {
    background-image: linear-gradient(#f0bb60e8 , #4aa484e5); 
    /*linear-gradient(rgba(196, 219, 240, 0.5), rgba(85, 159, 228, 1))*/
    /*#f0bb60e8 , #4aa484e5 */
}
h1 {
    font-family: "LionKing";
    border : 2px ridge orange;
    color : black;
    text-align:center;

    /*ombre*/
	-webkit-box-shadow: 0 0 3px rgba(0,0,0, 0.4);
	-moz-box-shadow: 0 0 3px rgba(0,0,0, 0.4);
	box-shadow: 0 0 3px rgba(0,0,0, 0.4);
}

#myCanvas {
    border: 1px solid black;
    background-image: url("../assets/images/background/BlueMountainsresize.jpg");
    /* SANS Background evolutif
    ../assets/images/GreenForestNight.png 
    */

    /* En cas du background évolutif : 
    ../assets/images/background/BlueMountainsresize.jpg 
    */

    /*background-color : lightgrey;*/
     /*ombre*/
	-webkit-box-shadow: 0 0 3px rgba(133,75,34, 0.4);
	-moz-box-shadow: 0 0 3px rgba(133,75,34, 0.4);
	box-shadow: 3px -2px 5px rgba(133, 75, 34, 0.4);
}

#loadingPage {
    color:red;
    /*border: 1px dashed red;*/
}

div.infosJeu {
    font-family: Lobster, Monotype Corsiva, Raleway;
        /* Raleway, Gill sans MT,  Gabriola, Freestyle Script,*/
    font-size: 110%;
	/*text-align:center;*/
}

/*-- BUTTON --*/
#buttonArrow, #buttonMouse, #buttonMusic {
    font-family:Segoe UI;
    font-size:100%;
    padding:1px 1px 3px;
    /*background: #FFCB60;   /*rgba(247, 196, 29, 0.782)*/
    background-color: #a38560;
    background-image: linear-gradient(315deg, #a38560 0%, #FFCB60 80%);
    border: 1px ridge rgb(99, 77, 4);
     /*ombre*/
	-webkit-box-shadow: 0 0 3px rgba(133,75,34, 0.4); 
	-moz-box-shadow: 0 0 3px rgba(133,75,34, 0.4);
    box-shadow: 3px -2px 5px rgba(133, 75, 34, 0.4);
}
#buttonArrow {border-radius: 20%; background:rgba(174, 145, 82, 0.782);}
#buttonMouse {border-radius: 10px}
#buttonMusic {
    border-radius: 10px;
    margin-left:50%;
}

.prgp1, .prgp3 {
    color:rgb(15, 83, 56);
    width:50%;
}
.prgp2 {
    text-align: center;
    color:#9E0E40;
}
.prgp3 {
    width:50%;
    font-size: 70%;
    margin-top:-1%;
    margin-left: 2%;
}

body.page2, span.link {
    font-family: "Gill Sans MT", "Calibri"; 
}
.flexbox, .flexbox1 {display:flex}
.flexbox1 {width:50%}

/*Bouton Music*/
.switch {
    position: relative;
    display: inline-block;
    margin-top:3%;
    margin-left:-15%;
    width: 60px;
    height: 34px;
}
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 34px;
    background-color: rgba(174, 145, 82, 0.5);
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 76.5%;
    width: 43.4%;
    left: 4px;
    bottom: 4px;
    border-radius: 50%;
    /*background-color: #FFCB60;*/
    background-color: #a38560;
    background-image: linear-gradient(315deg, #a38560 0%, #FFCB60 80%);
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: #1D4851;
}
input:focus + .slider {
    box-shadow: 0 0 3px rgba(133,75,34, 0.4);
}
input:checked + .slider:before {
    -webkit-transform: translateX(26px);	/*26/34=76.5%*/
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

